<app-header></app-header>
<section class="highscore-table-section">
  <div class="popup-container" *ngIf="kerryPopup">
    <div class="popup-box">
      <div class="popup">
        <p class="x-button" (click)="showKerryPopup()">x</p>
        <div class="profile-images">
          <div class="profile-img headshot-kerry"></div>
          <div class="sims-img"></div>
        </div>
        <div class="profile-info">
          <p class="popup-header">
            Kerry
            <span>
              <a href="https://kerryhidlay.com/" target="_blank" class="portfolio-link">/ kerryhidlay.com</a></span>
          </p>

          <p class="about-me">
            As a recent grad of Grand Circus’ Front-End Bootcamp and a BFA in
            Graphic Design from Michigan State University, I am continuously
            fascinated by the influence of effective design.
            <br />
            <br />
            I maintain the drive to expand upon both my creative and technical
            abilities. With senior-level design experience and a fresh
            perspective in UI and front-end dev work, I welcome any opportunity
            that allows me to strenghten my versatility in design and
            development.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-container" *ngIf="johnPopup">
    <div class="popup-box">
      <div class="popup">
        <p class="x-button" (click)="showJohnPopup()">x</p>
        <div class="profile-images">
          <div class="profile-img headshot-john"></div>
          <div class="sims-img sims-john"></div>
        </div>
        <div class="profile-info">
          <p class="popup-header">John
            <span><a href="https://github.com/jotabraham" target="_blank" class="portfolio-link">/
                GitHub</a></span>
          </p>
          <p class="about-me">
            Learning is my passion.<br><br>My most recent educational achievement is becoming a Grand Circus graduate.
            Through Grand Circus, I learned essential skills to enter into the web development field - one evidence
            being this very project! In addition to the Angular platform (used for this game) I gained experience in
            HTML/CSS, JavaScript/TypeScript, GitHub, JSON/third-party APIs, and Agile application development.<br><br>As
            a lifelong learner, my goal is to learn a skill well enough to teach it to others. I achieved this goal in
            Grand Circus and strive to maintain this depth of knowledge as a Web Developer.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="popup-container" *ngIf="andreaPopup">
    <div class="popup-box">
      <div class="popup">
        <p class="x-button" (click)="showAndreaPopup()">x</p>
        <div class="profile-images">
          <div class="profile-img headshot-andrea"></div>
          <div class="sims-img sims-andrea"></div>
        </div>
        <div class="profile-info">
          <p class="popup-header">Andrea
            <span><a href="http://andrea-hoffman.surge.sh/" target="_blank" class="portfolio-link">/
                dev portfolio</a></span>
          </p>
          <p class="about-me">
            We are all hard-wired for storytelling and a compelling narrative. This concept is the central vision for
            what I do. I am endlessly inspired by any authentic account told through a book, conversation, branding work
            or an inventive application design.<br><br>
            With a BFA in Graphic Design from Western Michigan University and my new foundation of tech skills from
            Grand Circus, I am eager to
            build upon these languages in order to craft refined UI solutions that deliver a brand’s story in a
            memorable and accessible approach.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-us">
    <h1 class="table-title-about">Leaderboard</h1>
    <table class="highscore-table">
      <!-- <tr>
        <th class="heading">Name</th>
        <th class="heading h-linkedin">LinkedIn</th>
        <th class="heading h-portfolio">Portfolio</th>
      </tr> -->
      <tr class="border-top">
        <td class="our-names" (click)="showKerryPopup()">Kerry Hidlay</td>
        <td class="linkedin">
          <a href="https://www.linkedin.com/in/kerry-hidlay/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </td>
        <td class="github">
          <a href="https://github.com/khidlay" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-code"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td class="our-names" (click)="showJohnPopup()">John Abraham</td>
        <td class="linkedin">
          <a href="https://www.linkedin.com/in/john-t-abraham/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </td>
        <td class="github">
          <a href="https://github.com/jotabraham" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-code"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td class="our-names" (click)="showAndreaPopup()">Andrea Hoffman</td>
        <td class="linkedin">
          <a href="https://www.linkedin.com/in/andrea-s-hoffman/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </td>
        <td class="github">
          <a href="https://github.com/andrea-s-hoffman" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-code"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="stats-container">
    <h1 class="table-title-stats">My Stats</h1>
    <table class="highscore-table">
      <tr>
        <th class="heading h-location">Location</th>
        <th class="heading h-score">Score</th>
        <th class="heading h-rank">Rank</th>
      </tr>
      <tr *ngFor="let highScore of highScoreArray; index as i">
        <td class="city-state">
          {{ highScoreArray[i].city }}, {{ highScoreArray[i].state }}
        </td>
        <td class="score">{{ highScoreArray[i].highScore }}</td>
        <td class="rank-cell" *ngIf="highScoreArray[i].highScore >= 900">
          <img class="medal" src="assets/medal-gold.png" alt="gold" />
        </td>
        <td class="rank-cell" *ngIf="
            highScoreArray[i].highScore < 900 &&
            highScoreArray[i].highScore >= 600
          ">
          <img class="medal" src="assets/medal-silver.png" alt="gold" />
        </td>
        <td class="rank-cell" *ngIf="
            highScoreArray[i].highScore < 600 &&
            highScoreArray[i].highScore >= 300
          ">
          <img class="medal" src="assets/medal-bronze.png" alt="gold" />
        </td>
        <td class="rank-cell" *ngIf="highScoreArray[i].highScore < 300">
          <img class="medal" src="assets/medal-frown.png" alt="gold" />
        </td>
      </tr>
    </table>
    <button class="play-again-button" routerLink="/standard-game">
      Play Again
    </button>
  </div>
  <div class="footer-graphic">
    <img src="assets\main-page-graphic.svg" alt="" />
  </div>
</section>