<app-header></app-header>
<main class="main">
  <div *ngIf="locationSelected" class="city-slide-info">
    <p class="city-info">{{ city }}, {{ state }}</p>
    <p class="slide-info">{{ currentIndex + 1 }} of {{gameArray.length}}</p>
  </div>
  <div *ngIf="locationSelected" class="house-game-card">
    <div class="house-image-container">
      <img src="{{ gameArray[currentIndex]?.thumbnail }}" alt="some house" class="house-image" />
      <div *ngIf="checkIndexAppraised(currentIndex) && open" class="single-stats-popup"
        [ngClass]="{'room-for-x': appraised.length === gameArray.length}">
        <p *ngIf="appraised.length === gameArray.length" class="close-button" (click)="closeWindow()">
          x
        </p>
        <p class="single-stats points-awarded">
          + {{ newPointsAwarded }} points awarded<span *ngIf="newPointsAwarded > 0">!</span>
        </p>
        <p *ngIf="userGuess !== ''" class="single-stats">
          Your Guess:<br />${{ userGuess | number }}
        </p>
        <p *ngIf="userGuess === ''" class="single-stats">
          Your Guess:<br />ZERO
        </p>
        <p class="single-stats">
          Cost of House:<br />${{ gameArray[currentIndex]?.price | number }}
        </p>
        <p *ngIf="appraised.length === gameArray.length" class="total-score">
          total score for<br />{{ city }}, {{ state }}:
        <p *ngIf="appraised.length === gameArray.length" class="total-score total-score-score">
          {{ score }}
        </p>
        <button *ngIf="appraised.length < gameArray.length" class="single-stats-button" (click)="nextIndex()">
          next
        </button>
        <button *ngIf="appraised.length === gameArray.length" class="single-stats-button" routerLink="/stats">
          See Stats
        </button>
        <!-- <p
          *ngIf="currentIndex === 9"
          class="play-again"
          routerLink="/standard-game"
          (click)="ngOnInit()"
        >
          Play Again
        </p> -->
      </div>
    </div>
    <div class="house-details-container">
      <button class="add-favorite" (click)="onFavorite(gameArray[currentIndex])"
        [ngClass]="{ favorited: checkFavs(gameArray[currentIndex]) }" title="Add/Remove Favorite"></button>
      <p class="address">
        {{ gameArray[currentIndex]?.address.line }}.,
        {{ gameArray[currentIndex]?.address.postal_code }}
      </p>
      <div class="hints-container">
        <button class="hint-button hint-sqft" *ngIf="!checkIndexGuessedSqft(currentIndex)"
          (click)="revealSqFtHint(currentIndex)" [disabled]="checkIndexAppraised(currentIndex)">
          Show Sq Ft
          <p class="hint-minus-pts">- 25 pts</p>
        </button>
        <p class="hint hint-sqft" *ngIf="checkIndexGuessedSqft(currentIndex)">
          {{ gameArray[currentIndex]?.building_size.size }} Sq Ft
        </p>
        <button class="hint-button hint-bed" *ngIf="!checkIndexGuessedBeds(currentIndex)"
          (click)="revealBedsHint(currentIndex)" [disabled]="checkIndexAppraised(currentIndex)">
          Show Beds
          <p class="hint-minus-pts">- 25 pts</p>
        </button>
        <p class="hint hint-bed" *ngIf="checkIndexGuessedBeds(currentIndex)">
          Beds: {{ gameArray[currentIndex]?.beds }}
        </p>
        <button class="hint-button hint-bath" *ngIf="!checkIndexGuessedBaths(currentIndex)"
          (click)="revealBathsHint(currentIndex)" [disabled]="checkIndexAppraised(currentIndex)">
          Show Baths
          <p class="hint-minus-pts">- 25 pts</p>
        </button>
        <p class="hint hint-bath" *ngIf="checkIndexGuessedBaths(currentIndex)">
          Baths: {{ gameArray[currentIndex]?.baths }}
        </p>
      </div>

      <div class="guess-container" *ngIf="!checkIndexAppraised(currentIndex)">
        <form class="guess-form" #guessPrice="ngForm" (ngSubmit)="onGuess(guessPrice, currentIndex)">
          <div class="guess-input-container">
            <input class="guess-input" id="guess{{ currentIndex }}" type="number" placeholder="Enter your guess"
              name="guess" autocomplete="off" (input)="addCommas(guessPrice)" ngModel />
            <label for="guess{{ currentIndex }}" class="guess-label">
              {{ guesswithCommasAndDollarSign }}</label>
          </div>
          <button class="appraise-button">APPRAISE THE ROOF!</button>
        </form>
      </div>
    </div>
  </div>

  <section *ngIf="locationSelected === false">
    <form class="standard-game-form" #searchGamePlay="ngForm" (ngSubmit)="onLocationSubmit(searchGamePlay)">
      <h1 class="h1-style">Select Location</h1>
      <div>
        <input class="input-field" type="text" name="city" id="city" placeholder="Search by City..." ngModel />
        <select class="input-field" name="state" id="state" ngModel>
          <option value="" disable selected>State</option>
          <option value="AL">AL</option>
          <option value="AK">AK</option>
          <option value="AR">AR</option>
          <option value="AZ">AZ</option>
          <option value="CA">CA</option>
          <option value="CO">CO</option>
          <option value="CT">CT</option>
          <option value="DC">DC</option>
          <option value="DE">DE</option>
          <option value="FL">FL</option>
          <option value="GA">GA</option>
          <option value="HI">HI</option>
          <option value="IA">IA</option>
          <option value="ID">ID</option>
          <option value="IL">IL</option>
          <option value="IN">IN</option>
          <option value="KS">KS</option>
          <option value="KY">KY</option>
          <option value="LA">LA</option>
          <option value="MA">MA</option>
          <option value="MD">MD</option>
          <option value="ME">ME</option>
          <option value="MI">MI</option>
          <option value="MN">MN</option>
          <option value="MO">MO</option>
          <option value="MS">MS</option>
          <option value="MT">MT</option>
          <option value="NC">NC</option>
          <option value="NE">NE</option>
          <option value="NH">NH</option>
          <option value="NJ">NJ</option>
          <option value="NM">NM</option>
          <option value="NV">NV</option>
          <option value="NY">NY</option>
          <option value="ND">ND</option>
          <option value="OH">OH</option>
          <option value="OK">OK</option>
          <option value="OR">OR</option>
          <option value="PA">PA</option>
          <option value="RI">RI</option>
          <option value="SC">SC</option>
          <option value="SD">SD</option>
          <option value="TN">TN</option>
          <option value="TX">TX</option>
          <option value="UT">UT</option>
          <option value="VT">VT</option>
          <option value="VA">VA</option>
          <option value="WA">WA</option>
          <option value="WI">WI</option>
          <option value="WV">WV</option>
          <option value="WY">WY</option>
        </select>
      </div>

      <button class="start-game">START GAME</button>
    </form>
  </section>

  <!-- <div class="results-popup" *ngIf="gameFinished">
    <p>See Your Rank!</p>
    <button class="play-again-button">Play Again</button>
    <button class="stats-button" routerLink="/stats">Stats</button>
  </div> -->
</main>
<div class="footer-graphic" *ngIf="locationSelected === false">
  <img src="assets\main-page-graphic.svg" alt="" />
</div>
<footer class="footer" *ngIf="locationSelected">
  <p class="score">Current Score: {{ score }}</p>
</footer>