<main>
  <section>
    <h1>{{ houseRef?.address.city }}, {{ houseRef?.address.state_code }}</h1>
    <div class="image-container">
      <img class="image" src="{{ houseRef?.thumbnail }}" alt="{{ houseRef?.prop_type }}" />
      <button class="add-favorite" (click)="emitFavoritesEvent(houseRef); favEvent()"
        [ngClass]="favorited ? 'favorited':'not-favorited'"></button>
    </div>
    <p>${{houseRef?.price | number}}</p>
    <p>{{ houseRef?.address.line }}</p>
    <p>Beds: {{ houseRef?.beds }} | Baths: {{ houseRef?.baths }}</p>
    <p>
      House Size: {{ houseRef?.building_size.size }} sf | Lot Size:
      {{ houseRef?.lot_size.size }} sf
    </p>
    <a href="{{ houseRef?.rdc_web_url }}" target="_blank" rel="noopener noreferrer">See Listing</a>
  </section>
</main>