<main>
  <section>
    <h1>{{ houseRef?.address.city }}, {{ houseRef?.address.state_code }}</h1>
    <p>{{houseRef?.price}}</p>
    <img src="{{ houseRef?.thumbnail }}" alt="{{ houseRef?.prop_type }}" />
    <p>{{ houseRef?.address.line }}</p>
    <p>Beds: {{ houseRef?.beds }} | Baths: {{ houseRef?.baths }}</p>
    <p>
      House Size: {{ houseRef?.building_size.size }} sf | Lot Size:
      {{ houseRef?.lot_size.size }} sf
    </p>
    <a
      href="{{ houseRef?.rdc_web_url }}"
      target="_blank"
      rel="noopener noreferrer"
      >See Listing</a
    >
  </section>
  <button class="add-favorite" (click)="emitFavoritesEvent(houseRef)">
    Favorite
  </button>
</main>
