<section>
  <img src="{{ gameCards?.thumbnail }}" alt="{{ gameCards?.prop_type }}" />
  <p>{{ gameCards?.address.line }}</p>
  <p>show sq footage</p>
  <button (click)="revealSqFtHint()">Show Hint: </button>
  <p class="hint" [ngClass]="{'hidden-hint': showSqFt === false}">{{
    gameCards?.building_size.size }} sqft</p>
  <button (click)="revealBedsHint()">Show Hint: </button>
  <p class="hint" [ngClass]="{'hidden-hint': showBeds === false}">Bedrooms: {{
    gameCards?.beds }}</p>
  <button (click)="revealBathsHint()">Show Hint: </button>
  <p class="hint" [ngClass]="{'hidden-hint': showBaths === false}">Bathrooms: {{
    gameCards?.baths }}</p>
  <form #guessPrice="ngForm" (ngSubmit)="onGuess(guessPrice); appraised = true;">
    <input type="text" placeholder="Enter your guess" name="guess" ngModel />
    <button [disabled]="appraised">Appraise the Roof!</button>
  </form>
  <p>+ {{ newPointsAwarded }} points awarded!</p>
  <p>Current Score: {{ score }}</p>
</section>