* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: black;
}

a {
  text-decoration: none   !important;;
  cursor: pointer;
  color: white   !important;;

}
a:hover {
  text-decoration: none   !important;;
  color: white   !important;;
}

p {
  margin: 0;
}

body {
  overflow-x: hidden;
  background: linear-gradient(to bottom right, #45dbf7, #0e63a9);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.h1-style {
  color: white;
  margin: 0px 0px 20px 0px;
}

button {
  background: linear-gradient(to right, #94c741, #39b54a);
  border: none;
  color: white;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
  margin: 10px;
}

button:focus, a:focus, img:focus, input:focus, div:focus {
  outline: none !important;
}

.button:hover {
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.02);
}

::placeholder {
  color: white;
}

.add-favorite {
  position: absolute;
  /* right: 5px;
  top: 15px; */
  background-color: transparent;
  border: none;
  height: 100px;
  width: 70px;
  background-size: cover;
  cursor: pointer;
  outline: none;
  background-image: url("src/assets/favorite-diamond.svg");
  box-shadow: none;
}

.favorited {
  background-image: url("src/assets/favorited-diamond.svg");
  box-shadow: none;
}

.add-favorite, .favorited {
  right: -13px;
  top: -3px;
  z-index: 3;
}

/* Chrome, Safari, Edge, Opera */
.guess-input::-webkit-outer-spin-button,
.guess-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  outline: none;
}

/* Firefox */
.guess-input[type="number"] {
  -moz-appearance: textfield;
}

.carousel-control-next {
  height: 15px;
  width: 15px;
  top: 50%;
  right: 15px;;
}

.carousel-control-prev {
  display: none;
}

.footer-graphic {
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: -1;
}
