.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 125px 0 0 0;
}

.city-state-container {
  display: flex;
  flex-direction: row;
}

.sqft-beds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 5px;
}

button.button:focus {
  opacity: 50%;
}

::placeholder {
  color: white;
}

@media screen and (min-width: 600px) {
  .h1-style {
    text-align: center;
  }

  .form {
    margin: 150px 0 0 0;
    align-items: unset;
  }

  .city-state-container {
    display: flex;
    flex-direction: row;
  }

  .sqft-beds-container {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }

  .sort-by-container {
    width: 100%;
  }

  .input-field {
    width: -webkit-fill-available;
  }
}

@media screen and (min-width: 768px) {
  .h1-style {
    position: absolute;
    margin-top: -60px;
  }
  
  .form {
    margin: 125px 0 0 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .city-state-container {
    flex-direction: row;
  }
  
  .sqft-beds-container {
    flex-direction: row;
  }

  .sort-by-container {
    width: unset;
  }
  
  .input-field {
    width: min-content;
  }
  
  .button {
    position: absolute;
    margin-top: 100px;
  }
}

@media screen and (min-width: 950px) {
  .button {
    position: absolute;
    margin-top: 60px;
  }
}