.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 200px 0 0 0;
}

.input-field {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  padding: 5px 15px;
  margin: 5px;
}

::placeholder {
  color: white;
}
